.container {
  height: 100vh;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.WelcomeContent {
  height: 70vh;
  width: 70vw;
  border: 0.2rem solid #000000;
  background-color: #e0e0e00b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LogoSushi {
  height: 17%;
  margin-top: 1%;
}

.LoginModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 83%;
  width: 100%;
}

.separator{
  margin-top: 3rem;
}

.LoginSection {
  display: flex;
  justify-content: center;
}

.CredentialsText {
  display: flex;
  justify-content: center;
  margin-top: 4%;
}

.CredentialsField {
  margin-top: 2rem;
  border-radius: 2rem;
  height: 1.5rem;
  width: 20rem;
  border: 0.2rem solid #000000;
  background-color: #1e1e2f;
  font-weight: bold;
  font-style: italic;
  outline: none;
  text-align: center;
  line-height: 1.5rem;
  color: #e0e0e0;
}

.CredentialsField::placeholder {
  color: #e0e0e0;
  opacity: 0.8;
}

.LoginButton {
  margin-top: 3%;
  border-radius: 2rem;
  height: 2rem;
  width: 7rem;
  border: 0.2rem solid #000000;
  background-color: #1e1e2f;
  font-weight: bold;
  font-style: italic;
  outline: none;
  color: #e0e0e0;
  font-size: medium;
  cursor: pointer;
  margin-bottom: 1rem;
}

.LoginButton:hover {
  color: white;
  background-color: #000;
  border: 0.3rem solid #b7b5b5e9;
}
