/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  /* position: relative; */
  color: #e0e0e0;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    /* white -29.09%, */
    #1e1e2f 51.77%,
    black 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* button {
  background-color: white;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
} */

.WelcomeContent {
  height: 70vh;
  width: 70vw;
  border: 0.2rem solid #000000;
  background-color: #e0e0e00b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#LogoSushi {
  height: 17%;
  margin-top: 1%;
  /* border: 1px solid black; */
}

.LoginModal {
  /* border: 1px solid rgb(43, 20, 190); */
  height: 83%;
  width: 100%;
}

.LoginSection{
  display: flex;
  justify-content: center;
  /* border: 1px solid white; */
}

.separator {
  margin-top: 3rem;
}

.CredentialsText {
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
  margin-top:5%;
}

.CredentialsField{
  margin-left: 43%;
  border: 1px solid black;
}

#LoginButton {
  display: block;
  margin-top:5%;
  margin-left: 48%;
  border: 1px solid black;
  border-radius: 2rem;
  cursor: pointer;
}
