.SectionManager {
  width: 33vw;
  padding-left: 1rem;
  padding-top: 15rem;
  padding-right: 1rem;
  text-align: center;
}

.Icon {
  height: 6rem;
  width: 6rem;
  margin-top: 1rem;
  cursor: pointer;
}

.ArrowBack {
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}
