.Navigation {
  border: white 1px solid;
  height: 100vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  background-color: #e0e0e00b;
  padding: 1rem;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.elements {
  font-size: larger;
  padding: 1rem 0;
  cursor: pointer;
  position: relative;
  text-align: center;
  transition: transform 0.3s ease, color 0.3s ease;
}

.elements:hover {
  transform: translateX(10px);
  color: #b7b5b5e9;
}

.elements:not(:last-child)::after {
  content: '';
  display: block;
  height: 1px;
  width: 60%;
  background-color: #b7b5b5e9;
  margin: 0.5rem auto;
}

.Logout {
  width: 6rem;
  height: 2rem;
  border-radius: 2rem;
  border: 0.3rem solid #000000;
  background-color: #1e1e2f;
  font-weight: bold;
  font-style: italic;
  outline: none;
  color: #e0e0e0;
  font-size: medium;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: 20%;
  align-self: center;
}

.Logout:hover {
  color: white;
  background-color: #000;
  border: 0.3rem solid #b7b5b5e9;
}

.Logo {
  width: 50%;
  align-self: center;
  margin-bottom: 2rem;
}
